.learnerSignIn-holder, .Signup-learner-btn{
    margin: 100px 45px;
    font-size: 55px;
    padding: 80px 50px;
    background-color: white;
    border-radius: 12px;
    border: 3px solid #008CBA;
}

.adminSignIn-holder, .Admin-btn{
    margin: 100px 45px;
    font-size: 55px;
    padding: 80px 50px;
    background-color: white;
    border-radius: 12px;
    border: 3px solid #008CBA;
}
.container{
    height: 100%;
}

@media (max-width: 600px){
    .learnerSignIn-holder, .Signup-learner-btn{
        margin: 45px 25px 25px 60px;
        font-size: 35px;
        padding: 25px 25px;
    }

    .adminSignIn-holder, .Admin-btn{
        margin: 25px 25px 45px 60px;
        font-size: 35px;
        padding: 25px 35px;
    }
}