.links{
    padding: 25px 10px;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

@media (max-width: 600px){
    .links{
        padding: 15px 5px;
        text-decoration: none !important;
        font-weight: bold;
        font-size: 15px;
    }
}