.header{
    font-size: 45px;
    margin-bottom: 10px;
}

.title{
    font-size: 30px;
}

.school, .district , .name, .email,.surname, .number ,.password{
    font-size: 25px;
    padding: 25px;
    border: 3px solid rgb(113, 245, 73);
    border-radius: 12px;
}

.password{
    margin-bottom: 25px;
}

.signIn{
    font-size: 25px;
    padding: 25px;
    background-color: white;
    border: 3px solid #008CBA;
    border-radius: 12px;
}

@media (max-width: 600px){        
    .school, .district, .name, .email,.surname, .number ,.password{
        font-size: 18px;
        padding: 25px;
        border: 3px solid rgb(113, 245, 73);
        border-radius: 12px;
    }
}